################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.gitignore
.vs
.suo
.sqlite
.sql
bin/
debug/
/MarioClone/obj/x86/Release/MarioClone.csproj.CoreCompileInputs.cache
